# Basic exceptionsbuild/*.user*.suo*.sdf*.opensdf*.sln*.vcxproj**.vc.db*.VC.db# Specific to CMakeCMakeCache.txtCMakeFiles/CMakeScripts/Makefilecmake_install.cmakeinstall_manifest.txtcompile_commands.json*.cmakecmake-tools.vsixtoolchain.cmake# Code coverage and profiling*.gcn*.gcda*.gcov*.profraw*.profdatacoverage.infocoverage.txtcoverage_report/lcov.info# IDE & editors.vscode/.idea/*.code-workspace*.swp*~*.orig# System files.DS_StoreThumbs.db# Logs & temporary files*.log*.tmp*.temp# Artefacts*.o*.a*.so*.dylib*.dll*.exe
